
body, html {
  margin: 0;
  height: auto;
  font-family: georgia;
  font-size: 16px;
}
div.header_row{
  height: 300px;
  font-family: georgia;
}
.layout_container_grid {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  height:100%;
  display: block;
  font-family: georgia;
}

.advanced_period_slots{
  width: 30% !important;
}

.cals_container, .users_container {
  background:aliceblue;
  box-shadow: 0 4px 8px 0 rgba(30, 150, 50, 0.2), 0 6px 20px 0 rgba(200, 200, 200, .6);
}

.hoverable:hover{
  opacity: 0.8;
}

.cal-card{
  box-shadow: 0 4px 8px 0 rgba(30, 150, 50, 0.2), 0 6px 20px 0 rgba(200, 200, 200, .6);
}

.cal-card:hover {
  box-shadow: 0 4px 8px 0 rgba(120, 255, 50, 0.2), 0 6px 20px 0 rgba(200, 255, 200, 1.2);
  cursor: pointer;
}

.cal_image{
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 55, 50, 0.2), 0 6px 20px 0 rgba(200, 255, 200, .2);
}

div.aside_container{

  box-shadow: 0 4px 8px 0 rgba(200, 200, 200), 0 6px 20px 0 rgba(0, 150, 200, .06);
  background: #e6e6fa75;
  display: block;

}

.nav_cont{text-align:justify;}

div.aside_container .nav_item {

    box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.2), 0 6px 20px 0 rgba(200, 200, 200, 1.2);
  cursor: pointer;
}

div.aside_container .nav_item:hover {
  box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.2), 0 6px 20px 0 rgba(200, 200, 200, 1.2);
    box-shadow: 0 4px 8px 0 rgba(30, 200, 50, 0.2), 0 6px 20px 0 rgba(200, 200, 200, .6);
  cursor: pointer;
  background: azure;
}

.menu__item {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: georgia;
}
.cal_title {
 font-size: 14px !important;
}

.card_data_container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap: wrap-reverse;
}
.asp_input{
  display:none;
  width:100%;
  max-width:100%!important;
}
.bg-darkseagreen{
  background: darkseagreen;
  color: black;
}

.bg-cornflowerblue{
  background: cornflowerblue;
}
.shadow1{
  text-shadow: 1px 1px 2px black, 8px 0 25px gray, 3px 0 5px darkblue;
}

.hover_btn:hover {
    box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.2), 0 6px 20px 0 rgba(200, 200, 200, 1.2);
}

#calendars table td, #calendars table th{
  overflow: hidden;
  border: 1px solid white;
}

.edit_title {
  background: darkseagreen;
  color: aliceblue;
  font-weight: bold;

}

.hover_cssrule:hover {
  background: lightgray;
}

#editCalendar, #addCalendar, #removeCalendar, #addUser, #editUser, #removeUser{
  font-family: cursive;
}

:root {
  --darkseagreen: #darkseagreen;
  --white: #ffffff;
  --active_shadow: 2px 2px 8px rgb(12 155 120 / 60%);
}

.bg__green{
  background-color: var(--darkseagreen);
}
.active_shadow{
  box-shadow: var(--active_shadow);
}

/*  charts chart_container*/
 .chart_container {
   min-height: 380px !important;
 }
/*  charts end */
@media only screen and (max-width: 690px) {
  #modal_body_advanced div.advanced_period_slots {
    width: 80% !important;
  }
}
@media only screen and (max-width: 575px) {

  div#modal_body_advanced div.advanced_period_slots{
    width: 100% !important;
  }

  div.aside_container {
    height:fit-content !important;
  }

  div.main_container {-
    height:100% !important;
  }

  .nav_cont{text-align:center;}

  #calendars table {
        width: 150px !important;
        width: 150px;
        padding: 0px;
        margin: 0px;
  }
  #calendars table tr, #calendars table td, #calendars table th{
        padding: 0px;
        margin: 0px;
  }

  .advanced_period_slots{
    width: 100% !important;
  }
  .asp_modal{
    overflow: auto;
  }
}


@media only screen and (max-width: 1125px) {

  div.calendarcard_css {
    width:100% !important;
  }
  .advanced_period_slots {
    width: 48% !important;
  }
}


.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -31px;
  top: -55px;
  /* for 45 deg rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* for creating shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon span {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 8px 6px;
  text-align: center;
  text-decoration: none;
  /* for creating shadow */
  text-shadow: 0 0 5px #444;
}
